
/* style sheet, need to minimize once figured out **/

.red {
	color: #ff0000;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width:992px) {
    #sidebar {
        position: fixed;
        height: 100%;
        width:inherit;
        margin: inherit;
        border:10px;
        padding: 0px 5px 0px 5px;
    }
    #main {
        float:right;
    }
}

#sidebar {
    background-color: rgb(72, 63, 57);
}

#sidebar a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

#content a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

#aboutme {
    padding-top: 30px;
    text-align: center;
    color: white;
    overflow-wrap:break-word;
}

/* make the font-awesome icond that are links in the body larger */
#main .body a i.fa {
    font-size: medium;
}

.img-thumbnail {
	border-radius: 50%;
	width: 80%;
	height:auto;
	max-width: 250px;
}

.img-about {
	float: left;
	width: 72px;
	margin: -6px 10px 0 0;
}

img.img-center {
    display: block;
    margin: 0 auto;
}

.navbar-brand > img {
	float: left;
	margin: -8px 2px 0 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.navbar-right li.social-bar a {
    padding-left: 8px;
    padding-right: 8px;
}

#navbar-affix.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    margin: auto;
}

.navbar-wrapper {
    min-height:50px;
}

.blog-post {
	padding: 12px 0 28px;
}

body {
	line-height: 1.6;
	padding-top: 50px;
}

body.home {
	padding-top:0px !important;
}

body.home div#banner {
	margin: 0px;
}

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-C */
a.anchor {
    padding-top: 60px;
    z-index:-10;
    position: relative;
}
